featuretype.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:Decretos="https://mapas.conder.ba.gov.br/arcgis/services/Decretos/MapServer/WFSServer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="https://mapas.conder.ba.gov.br/arcgis/services/Decretos/MapServer/WFSServer" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
<xsd:element name="Decretos_da_Bahia" type="Decretos:Decretos_da_BahiaFeatureType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType name="Decretos_da_BahiaFeatureType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="OBJECTID" type="xsd:int"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="SHAPE" nillable="true" type="gml:MultiSurfacePropertyType"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="N__do_Decreto" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="500"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Data" nillable="true" type="xsd:dateTime"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Descricao" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="500"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Municipio" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="500"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Observacao" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="500"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Instituicao" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Inst_Extenso" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="SRO" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Identificacao" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Ano_do_Decreto" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="4"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Obs_Espacial" nillable="true">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
</xsd:schema>
